/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    text-align: left; /* Cambiado a izquierda */
}




/* ENCABEZADO*/
header {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 20px 0;
    position: relative;
    text-align: center; /* Centrado de la frase */
}

header h1 {
    margin: 0;
    font-size: 24px;
}





/* Botón de volver */
#volver {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: white;
    color: #4CAF50;
    border: 1px solid #4CAF50;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

#volver:hover {
    background-color: #4CAF50;
    color: white;
}





/* Contenido principal */
main {
    padding: 10px;

}

h2 {
    font-size: 22px;
    color: #4CAF50; /* Verde */
    margin-bottom: 20px;
    text-align: center; /* Centrado de la palabra Trompeta */
}

#contenido {
    padding: 10px;

}

/* Estilos para cada canción */
.cancion {
    margin-bottom: 10px;

}

/* Encabezado de la canción */
.encabezado {
    margin-bottom: 5px; /* Reducido el margen entre el título de la canción y los detalles */

}




/*NOMBRE DE LA CANCION*/
.encabezado h3 {
    font-size: 25px;
    color: #4CAF50;
    font-weight: bold;
    margin: 0; /* Eliminado margen */



}

.encabezado p {
    font-size: 15px;
    margin: 3px 0; /* Reducido el espacio entre la nota musical, ritmo y tiempo */
}




/* Estilo para las estrofas */
.estrofa {
    margin-top: 5px; /* Reducido el margen entre las estrofas */
    padding-left: 0px;

 
}




/*SUBTITULO*/
.estrofa h4 {
    font-size: 20px;
    font-weight: bold;
    color: #4CAF50; /* Letra Verde */
    margin-bottom: 0px; /* Reducido el margen */
    padding-left: 15px;
    padding: 1px 0;
    margin: 15px 0;
}





/*TITULO*/
.estrofa h5 {
    font-size: 20px;
    font-weight: bold;
    color: #000000; /* LETRAS NEGRAS */
    margin-bottom: -20px; /* Reducido el margen */
 
    padding: 5px 0;
}





.estrofa .notas {
    font-family: courier new;
    font-size: 20px;
    margin: 0;
    padding-left: 5px;
    padding: 0px 0;

}

.guion {
    color: transparent;
}






/* Línea separadora */
.linea-separadora {
    border: none;
    border-top: 1px dotted #4CAF50; /* Línea punteada verde */
    margin: 15px 0;
}





/* Pie de página */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    font-size: 14px;
}




/* Estilos para los botones del menú (Index) */
#menu {
    display: flex;
    flex-direction: column; /* Cambiado a columna para los botones verticales */
    align-items: center; /* Centrado de los botones */
    gap: 20px; /* Espaciado entre botones */
    margin-top: 40px;
}

.boton {
    display: inline-block;
    padding: 20px 40px; /* Tamaño de los botones */
    font-size: 18px;
    text-decoration: none;
    color: #fff; /* Texto blanco */
    border: 2px solid #4CAF50; /* Borde verde */
    border-radius: 25px; /* Bordes redondeados */
    background-color: #4CAF50; /* Fondo verde */
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Efecto al pasar el cursor */
    width: 200px;
    text-align: center;
}

.boton:hover {
    background-color: #333; /* Fondo gris oscuro */
    color: white; /* Texto blanco */
    border: 2px solid #333; /* Borde gris oscuro */
}


/*TAMAÑO DEL #*/
.pequeno {
    font-size: 70%;
    vertical-align: super;
}